@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;800&display=swap');

body{
  background-image: url('assets/background-img.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  line-height: 1.55;
}

.navbar {
  padding-top: 26px;
  padding-bottom: 26px;
}

body{
  font-family: 'Inter', sans-serif;
}

html {
  font-size: 16px;
}

.nav-item {
  font-size: 1rem;
  margin-left: 40px;
}

.nav-link{
  padding: 0.5rem 1rem;
  padding-left:16px;
  padding-right:16px ;
}

.start-btn {
  transition: transform, .4s;
  box-shadow: none;
  background-color: #000;
  color: #fff;
  border-color: #000;
  margin-right: 50px;
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;
  color: rgb(255, 255, 255);
  padding: 15px;
}

.sign-in-btn {
  margin-right: 20px;
}

.nav-item .down-arrows{
  font-size: 10px;
}

/* Intro container */
.intro-container{
  padding-right: 32px;
  padding-left: 32px;
  margin-left: auto;
  margin-right:auto;
}

.content-holder{
  padding-top: 136px !important;
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
  padding-top: 4rem;
}

.main-text-box{
  margin-left: auto;
  margin-right: auto;
}

.main-topic{
  font-size: 56px;
  letter-spacing: -1.2px;
  text-align: center!important;
  margin: 0 0 1rem;
  line-height: 1.15;
  font-weight: 900;
  margin-bottom: 16px;
  color: white;
}

.sub-topic{
  font-size: 24px;
  max-width: 615px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: -.4px;
  color: white;
}

.btn-conatiner{
  margin-top: 30px;
}

.free-trial-btn{
  margin-left: 145px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 24px;
  padding-right: 24px;
}

.example-btn{
  margin-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 24px;
  padding-right: 24px;
}
/* End of main section */

.white-text{
  padding-top: 80px;
  padding-bottom: 80px;
}

/* Intro to video content section */

.video-holder{
  width: 100%;
  height: auto;
  display: block;
}

@media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1288px;
  }
}