@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;800&display=swap');

body{
  background-image: url('assets/background-img.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  line-height: 1.55;
}

.navbar {
  padding-top: 26px;
  padding-bottom: 26px;
}

body{
  font-family: 'Inter', sans-serif;
}

html {
  font-size: 16px;
}

.nav-item {
  font-size: 1rem;
  margin-left: 40px;
}

.nav-link{
  padding: 0.5rem 1rem;
  padding-left:16px;
  padding-right:16px ;
}

.start-btn {
  transition: transform, .4s;
  box-shadow: none;
  background-color: #000;
  color: #fff;
  border-color: #000;
  margin-right: 50px;
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;
  color: rgb(255, 255, 255);
  padding: 15px;
}

.sign-in-btn {
  margin-right: 20px;
}

.nav-item .down-arrows{
  font-size: 10px;
}

/* Intro container */
.intro-container{
  padding-right: 32px;
  padding-left: 32px;
  margin-left: auto;
  margin-right:auto;
}

.content-holder{
  padding-top: 136px !important;
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
  padding-top: 4rem;
}

.main-text-box{
  margin-left: auto;
  margin-right: auto;
}

.main-topic{
  font-size: 56px;
  letter-spacing: -1.2px;
  text-align: center!important;
  margin: 0 0 1rem;
  line-height: 1.15;
  font-weight: 900;
  margin-bottom: 16px;
  color: white;
}

.sub-topic{
  font-size: 24px;
  max-width: 615px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: -.4px;
  color: white;
}

.btn-conatiner{
  margin-top: 30px;
}

.free-trial-btn{
  margin-left: 145px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 24px;
  padding-right: 24px;
}

.example-btn{
  margin-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 24px;
  padding-right: 24px;
}
/* End of main section */

.white-text{
  padding-top: 80px;
  padding-bottom: 80px;
}

/* Intro to video content section */

.video-holder{
  width: 100%;
  height: auto;
  display: block;
}

video{
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin-bottom: 100px;
}


/* Start of carding section */

.carding-section{
  margin-left: 50px;
  margin-right: 50px;
}

.card-img{
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom:32px;
}

.carding-head{
  margin-bottom: 1rem;
  font-size: 25px;
  line-height: 1.3;
  letter-spacing: -.2px;
  font-weight: 800;
}

.carding-text-box{
  padding-right: 100px;
}

.card-para{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 1rem;
  line-height: 1.75;
  margin-bottom: 130px;
}

/* End of carding section */


/* <!-- Start of Company logos --> */

.company-row{
  padding-top:50px;
  padding-bottom:  180px;
}

.company-imgs{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 40px;
  padding-right: 40px;
  height: auto;
}

.company-subtext{
margin-top: 2.5rem!important;
text-align: center!important;
font-size: 16px;
font-weight: 400;
}

/* End of company logos */


/* Start of Communication section */

.block-container{
  padding-bottom: 80px;
}

.block-head{
  line-height: 1.1429;
  margin-bottom: 1.5rem;
  font-size: 56px;
  letter-spacing: -.8px;
  font-weight: 800;
}

.block-para{
  font-weight: 500;
  letter-spacing: -.4px;
  font-size: 24px;
  padding-bottom: 32px;
  line-height:42px;
  color: rgba(0, 0, 0, 0.6);
}

.badge {
  font-weight: 500;
  font-size: inherit;
  box-shadow: 0 4px 6px rgb(0 0 0 / 12%), inset 0 2px 4px #fff, inset 0 -2px 2px #eee;
  padding: 7px 4px;
  border-radius: 10px;
  color: #000;
  background: #fafafc;
}

.trial-btn{
  color: #fff;
  background-color: #000;
  border-color: #000;
  transform: translateY(-1px);
  padding: 13px 22px;
}

.trial-btn:hover {
  background-color: #000;
  color: #fff;
  border-color: #000;
  transform: translateY(-2px);
}

.video2{
  height: auto;
}

.block-subs > h2{
  font-size: 24px;
  margin-bottom: 1rem;
  font-weight: 800;
  font-size: 24px;
}

.block-sub-para{
  font-size: 16px;
  line-height: 1.75;
  font-weight: 400;
}

/* End of communication section */








@media (min-width: 1400px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1288px;
  }
}