@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;800&display=swap');

body{
  background-image: white;
  background-repeat: no-repeat;
  background-position: top;
  line-height: 1.55;
}

html {
  font-size: 16px;
}


body{
  font-family: 'Inter', sans-serif;
}

/* Navbar */
.nav-item{
  padding-left: 0.80rem !important;
  padding-right: 0.80rem !important;
}

.start-btn{
  padding: 0.9375rem 0.8rem;
}

.nav-list{
  padding-left: 0;
  list-style: none;
}

/* Main topic */

.main-topic-container{
  margin-bottom: 70px;
  padding-top: 70px;
  margin-top: 40px;
}

.main-box-head{
  font-weight: 700;
  font-size: 48px;
}

.main-box-para{
  font-size: 1.25rem;
  font-weight: 500;
  font-size: 24px;
}


/* Main content section */

.content-imgs{
  border-radius: 0.7rem;
  max-width: 100%;
}

.content-head{
  font-size: 32px;
  letter-spacing: -.4px;
  margin: 0 0 1rem;
  line-height: 1.15;
  font-weight: 800;
}

.content-para{
  font-size: 16px;
  line-height: 1.75;
}

.content-section{
  margin-bottom: 70px;
}

.side-head{
  font-weight: 700;
  color: #000;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.side-nav-list{
  list-style: none;
  font-size: .875rem;
  line-height: 1.125;
}

.side-nav-item{
  margin-top: 0.5rem;
  padding: 0.5rem 0;
  position: relative;
  padding-left: 1rem;
}

.launch-example{
  margin-top: 30px;
}

.row1, .row2{
  padding-bottom: 100px;
}

/* Footer */
.search-filter{
  display: flex;
}
.search-bar{
  max-width: 350px;
}

.search-btn{
  margin-left: 20px;
}

.footer{
  margin-bottom: 50px;
}

.footer-items{
  margin-bottom: 1rem;
  color: rgba(0,0,0,.6);
  font-weight: 400;
}

.footer-text{
    font-size: .75rem;
    line-height: 1.6667;
    color: #666;
    letter-spacing: -.1px;
}

.footer-title{
  font-size: 20px;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  .nav-item{
    font-size: 1.5rem;
    margin-bottom: 8px;
    color: #000;
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    z-index: 3;
    margin-left: 50px;
  }
  .main-topic-container {
    margin-bottom: 50px;
  }
  .sign-in-btn{
    background-color: #f0f0f2;
    margin-bottom: 15px;
  }

  .sign-in-btn, .start-btn{
    display: block;
    width: 100%;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }

  .nav-btn-container{
    margin-top: 130px;
  }

  .first-nav-item{
    margin-top: 30px;
  }

  .main-box {
    margin-left: 0px;
    margin-right: 0px;
  }

  .footer-form{
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .footer {
    margin-bottom: 10px;
}

  .content-head{
    margin-top: 50px;
  }

  .row1, .row2{
    padding-bottom: 50px;
  }
}

@media (min-width: 1440px){
  .container-fluid{
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (min-width: 1250px){
  .container-fluid{
    margin-left: 100px;
    margin-right: 100px;
  }
}