@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;800&display=swap');

body{
  background-image: white;
  background-repeat: no-repeat;
  background-position: top;
  line-height: 1.55;
}

html {
  font-size: 16px;
}


body{
  font-family: 'Inter', sans-serif;
}

/* Navbar */
.nav-item{
  padding-left: 0.80rem !important;
  padding-right: 0.80rem !important;
}

.start-btn{
  padding: 0.9375rem 0.8rem;
}

.nav-list{
  padding-left: 0;
  list-style: none;
}

/* Main topic */
.dual-box{
  margin-bottom: 70px;
  padding-top: 70px;
  margin-top: 100px;
}

.dual-box-head{
  font-weight: 800;
  font-size: 32px;
}

.dual-box-para{
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.75;
  text-align: left;
  margin-bottom: 56px;
}

.btn-success{
  transition: transform,.4s;
  box-shadow: none;
  background-color: #149bfe;
  color: #fff;
  border-color: #149bfe;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 24px;
  padding-right: 24px;
}

a{
  transition: color .35s,background-color .35s;
  color: #0085e4;
  font-weight: 500;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.download-mac-btn{
  margin-top: 12px;
}

.select-os-text{
  margin-top: 16px;
  font-size: 14px;
  line-height: 1.7143;
  color: #6c7582;
  text-align: left;
}


/* Footer */
.search-filter{
  display: flex;
}
.search-bar{
  max-width: 350px;
}

.search-btn{
  margin-left: 20px;
}

.footer{
  margin-bottom: 50px;
}

.footer-items{
  margin-bottom: 1rem;
  color: rgba(0,0,0,.6);
  font-weight: 400;
}

.footer-text{
    font-size: .75rem;
    line-height: 1.6667;
    color: #666;
    letter-spacing: -.1px;
}

.footer-title{
  font-size: 20px;
}


/* Content Section */

/* Media Queries */
@media only screen and (max-width: 600px) {
  .nav-item{
    font-size: 1.5rem;
    margin-bottom: 8px;
    color: #000;
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    z-index: 3;
    margin-left: 50px;
  }
  .sign-in-btn{
    background-color: #f0f0f2;
    margin-bottom: 15px;
  }

  .sign-in-btn, .start-btn{
    display: block;
    width: 100%;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }

  .nav-btn-container{
    margin-top: 130px;
  }

  .first-nav-item{
    margin-top: 30px;
  }

  .main-box {
    margin-left: 0px;
    margin-right: 0px;
  }

  .footer-form{
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .content-head{
    margin-top: 20px;
  }

  .row1, .row2{
    padding-bottom: 50px;
  }

  .btn-success{
    flex-grow: 1;
    width: 100%;
  }

  .intro-section__footer-content {
    margin-top: 2rem;
    text-align: center;
  }

  .download-mac-btn{
    margin-left: auto;
    margin-right: auto;
  }

  .dual-box-head{
    text-align: center;
  }

  .dual-box{
    padding-top: 5px;
    margin-top: 100px;
  }

  .dual-box-para{
    text-align: center;
}
  }

  .select-os-text{
    margin-bottom: 24px;

  }

  .download-mac-text{
    /* margin-left: 100px; */
  }

@media (min-width: 1440px){
  .container-fluid{
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (min-width: 1250px){
  .container-fluid{
    margin-left: 100px;
    margin-right: 100px;
  }
}